In [1]:
fruit = 'banana'
letter = fruit[1]
letter

'a'

In [2]:
number = '09878'
number[3]

'7'

In [3]:
number[3.2]

TypeError: string indices must be integers

In [5]:
i=len(number)
i

5

In [6]:
number[i]

IndexError: string index out of range

In [7]:
index = 0
while index < len(fruit):
    letter = fruit[index]
    print(letter)
    index = index + 1

b
a
n
a
n
a

In [8]:
index = 0
while index < len(number):
    letter = number[index]
    print(letter)
    index = index + 1

0
9
8
7
8

In [10]:
for letter in fruit:
    print(letter)

b
a
n
a
n
a

In [12]:
s = 'Niharika Reddy Erasani'
s[0:10]

'Niharika R'

In [13]:
strn='Sujitha'
strn[3]='h'

TypeError: 'str' object does not support item assignment

In [14]:
greeting = 'Hello, world!'
new = 'J' + greeting[1:]
new

'Jello, world!'

In [16]:
def find(word, letter):
    index = 0
    while index < len(word):
        if word[index] == letter:
            return index
        index = index + 1
    return 'letter is not found'
find('Niharika', 'R')

'letter is not found'

In [19]:
word = ''
count = 0
for letter in word:
    if letter == 'a':
        count=count+ 1
print(count)

3

In [21]:
word = 'Niha'
new_word = word.upper()
new_word

'NIHA'

In [23]:
word = 'Niharika'
index = word.find('a')
index

3

In [24]:
's' in 'sun rise'

True

In [25]:
'san' in 'sun rise'

False

In [28]:
def in_both(word1, word2):
    for letter in word1:
        if letter in word2:
            print(letter)
        
in_both('hello','hilo')

h
l
l
o

In [33]:
def is_reverse(word1, word2):
    if len(word1) != len(word2):
        return False
    i = 0
    j = len(word2)-1
    while j > 0:
        if word1[i] != word2[j]:
            return False
        i = i+1
        j = j-1
    return True

is_reverse('for','rof')

True

In [35]:
def is_abecedarian(word):
    previous = word[0]
    for c in word:
        if c < previous:
            return False
        previous = c
    return True
is_abecedarian('hijkl')

True

In [1]:
def palind(word):
    i=0
    j=len(word)-1
    
    while i<j:
        if word[i] !=word[j]:
            return False
    i=i+1
    j=j-1
    return True

palind('lir')

False

In [2]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
numbers = [42, 123]
empty = []
print(cheeses, numbers, empty)

['Cheddar', 'Edam', 'Gouda'] [42, 123] []

In [7]:
lists=['hi',0,3.4]
lists

['hi', 0, 3.4]

In [8]:
lists[0]

'hi'

In [9]:
lists[2]=5.6
lists

['hi', 0, 5.6]

In [10]:
'hii' in lists

False

In [12]:
for x in []:
    print('This never happens.')

In [15]:
for i in range(len(numbers)):
    numbers[i] = numbers[i] + 2
numbers

[46, 127]

In [18]:
for i in range(len(lists)):
    lists[i] = lists[i] * 2
lists

['hihihihi', 0, 22.4]

In [30]:
a = [1, 2, 'hi']
b = [4, 5, 6]
c = a + b
c

[1, 2, 'hi', 4, 5, 6]

In [21]:
['hi','go']*2

['hi', 'go', 'hi', 'go']

In [31]:
a[:]

[1, 2, 'hi']

In [28]:
b.append('a')
b

[4, 5, 6, 'a']

In [35]:
a.extend(b)

In [36]:
a

[1, 2, 'hi', 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6]

In [37]:
a.sort()
a

TypeError: '<' not supported between instances of 'str' and 'int'

In [39]:
def add_all(t):
    total = 0
    for x in t:
        total += x
    return total
add_all([1,2,55,6])

64

In [41]:
y=[2,4,6]
sum(y)

12

In [43]:
def capitalize_all(t):
    res = []
    for s in t:
        res.append(s.capitalize())
    return res

capitalize_all(['hi','niha'])

['Hi', 'Niha']

In [44]:
t = ['a', 'b', 'c']
x = t.pop(1)
t

['a', 'c']

In [45]:
nam= 'niharika'
split=list(nam)
split

['n', 'i', 'h', 'a', 'r', 'i', 'k', 'a']

In [46]:
nam= 'niharika reddy erasani'
split=nam.split()
split

['niharika', 'reddy', 'erasani']

In [47]:
t = ['pining', 'for', 'the', 'fjords']
delimiter = ' '
s = delimiter.join(t)
s

'pining for the fjords'

In [48]:
a = [1, 2, 3]
b = a
b is a

True

In [49]:
b[0]=42
a

[42, 2, 3]

In [50]:
t1 = [1, 2]
t2 = t1.append(3)
t1

[1, 2, 3]

In [52]:
t2

In [53]:
eng2sp = dict()
eng2sp

{}

In [55]:
eng2sp['one'] = 'uno'
eng2sp

{'one': 'uno'}

In [56]:
eng2sp = {'one': 'uno', 'two': 'dos', 'three': 'tres'}
eng2sp

{'one': 'uno', 'two': 'dos', 'three': 'tres'}

In [57]:
eng2sp['four']

KeyError: 'four'

In [58]:
len(eng2sp)

3

In [59]:
vals = eng2sp.values()
'uno' in vals

True

In [61]:
def histogram(s):
    d = dict()
    for c in s:
        if c not in d:
            d[c] = 1
        else:
            d[c] += 1
    return d
histogram('abeaashiunnk')

{'a': 3, 'b': 1, 'e': 1, 's': 1, 'h': 1, 'i': 1, 'u': 1, 'n': 2, 'k': 1}

In [65]:
def print_hist(h):
    for c in h:
        print(c, h[c])

In [66]:
h=histogram('chilaka')
print_hist(h)

c 1
h 1
i 1
l 1
a 2
k 1

In [69]:
def reverse_lookup(d, v):
    for k in d:
        if d[k] == v:
            return k
    raise LookupError()
h = histogram('parrot')
key = reverse_lookup(h, 2)
key

'r'

In [71]:
def invert_dict(d):
    inverse = dict()
    for key in d:
        val = d[key]
        if val not in inverse:
            inverse[val] = [key]
        else:
            inverse[val].append(key)
    return inverse
hist = histogram('Chilaka')
invert_dict(hist)

{1: ['C', 'h', 'i', 'l', 'k'], 2: ['a']}

In [77]:
known = {0:0, 1:1}
def fibonacci(n):
    if n in known:
        return known[n]
    res = fibonacci(n-1) + fibonacci(n-2)
    known[n] = res
    return res

fibonacci(5)

5

In [78]:
 t = 'a', 'b', 'c', 'd', 'e'

In [79]:
type(t)

tuple

In [80]:
t1=('a')
type(t1)

str

In [81]:
t=tuple('niharika')
t

('n', 'i', 'h', 'a', 'r', 'i', 'k', 'a')

In [83]:
t=('E',)+t[1:]
t

('E', 'i', 'h', 'a', 'r', 'i', 'k', 'a')

In [84]:
('a', 'b', 'c') < ('a', 'a', 'b')

False

In [85]:
a, b = 1, 2, 3

ValueError: too many values to unpack (expected 2)

In [88]:
addr = 'monty@python.org'
uname, domain = addr.split('@')
uname

'monty'

In [90]:
t = divmod(4, 2)
t

(2, 0)

In [92]:
def min_max(t):
    return min(t), max(t)
min_max((1,3,4,5))

(1, 5)

In [93]:
s = 'abc'
t = [0, 1, 2]
zip(s, t)
for pair in zip(s, t):
    print(pair)

('a', 0)
('b', 1)
('c', 2)

In [94]:
list(zip(s, t))

[('a', 0), ('b', 1), ('c', 2)]

In [95]:
list(zip('Anne', 'Elk'))

[('A', 'E'), ('n', 'l'), ('n', 'k')]

In [96]:
list(zip('niha', '15523'))

[('n', '1'), ('i', '5'), ('h', '5'), ('a', '2')]

In [97]:
def has_match(t1, t2):
    for x, y in zip(t1, t2):
        if x == y:
            return True
    return False

has_match('niha','niha')

True

In [101]:
from collections import Counter
c = Counter([0, 1, 2, 0])
c

Counter({0: 2, 1: 1, 2: 1})

In [104]:
s = set()
s.add(1) 
s.add(2) 
s.add(2)
x = len(s) 
x

2

In [106]:
y = 2 
y in s

True

In [108]:
stopwords_list = ["a","an","at"] + ["yet", "you"]
"zip" in stopwords_list

False

In [109]:
stopwords_set = set(stopwords_list)
"zip" in stopwords_set

False

In [112]:
item_list = [1, 2, 3, 1, 2, 3]
num_items = len(item_list) 
item_set = set(item_list) 
item_set

{1, 2, 3}

In [114]:
if 1 > 2:
    message = "if only 1 were greater than twoâ€¦"
elif 1 > 3:
    message = "elif stands for 'else if'"
else:
    message = "when all else fails use else (if you want to)"

In [117]:
x=24
parity = "even" if x % 2 == 0 else "odd"
parity

'even'

In [120]:
x = 0
while x < 10:
    print (x, "is less than 10")
    x += 1

0 is less than 10
1 is less than 10
2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10

In [123]:
for x in range(10):
    if x == 3:
        continue 
    if x == 5:
        break 
    print (x)

0
1
2
4

In [125]:
x = None
print (x == None)

True

In [129]:
x = [4,1,2,3]
y = sorted(x)
y

[1, 2, 3, 4]

In [131]:
x.sort()
x

[1, 2, 3, 4]

In [132]:
x = sorted([-4,1,-2,3], key=abs, reverse=True)
x

[-4, 3, -2, 1]

In [134]:
even_numbers = [x for x in range(5) if x % 2 == 0] 
squares = [x * x for x in range(5)] 
even_squares = [x * x for x in even_numbers]
print('even',even_numbers)
print('squares',squares)
print('even_squares',even_squares)

even [0, 2, 4]
squares [0, 1, 4, 9, 16]
even_squares [0, 4, 16]

In [135]:
square_dict = { x : x * x for x in range(5) } 
print(square_dict)
square_set = { x * x for x in [1, -1] } 
print('square_set',square_set)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
square_set {1}

In [137]:
pairs = [(x, y)
    for x in range(10)
    for y in range(10)]
pairs

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (7, 7),
 (7, 8),
 (7, 9),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (9, 0),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8),
 (9, 9)]

In [138]:
increasing_pairs = [(x, y) 
for x in range(10) 
for y in range(x + 1, 10)]
increasing_pairs

[(0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 8),
 (7, 9),
 (8, 9)]

In [151]:
def lazy_range(n):
    i = 0
    while i < n:
        yield i
        i += 1
lazy_range(5)

In [142]:
def lazy_range(n):
    i = 0
    while i < n:
        yield i
        i += 1
lazy_evens_below_20 = (i for i in lazy_range(20) if i % 2 == 0)
lazy_evens_below_20

In [144]:
import random
four_uniform_randoms = [random.random() for _ in range(4)]
four_uniform_randoms

[0.803983133621196,
 0.1400969399483466,
 0.3571340242345873,
 0.27514722960823423]

In [148]:
random.randrange(10)

4

In [152]:
random.randrange(3,6)

5

In [158]:
my_best_friend = random.choice(["Niha", "Suji", "Teju","Anu"])
my_best_friend

'Teju'

In [161]:
lottery_numbers = range(60)
winning_numbers = random.sample(lottery_numbers, 6)
winning_numbers

[45, 46, 4, 12, 23, 25]